{{#each ideas}}
<div class="card card-body mb-2">
  <h4>{{this.title}}</h4>
  <p class="lead">{{this.details}}</p>
  <a href="/ideas/edit/{{this._id}}" class="btn btn-dark btn-block mb-2">Edit</a>
  <form method='POST' action='/ideas/{{this._id}}?_method=DELETE'>
    <input type='hidden' name='_method' value='DELETE' />
    <input type='submit' value='Delete' class='btn btn-danger btn-block' />
  </form>
</div>
{{else}}
<p>No Video Ideas listed</p>
{{/each}}